{% extends "./base.html" %}

{% block content %}

<style>
body {
	color: #fff;
	background: #19aa8d;
	font-family: 'Roboto', sans-serif;
}
.form-control {
	font-size: 15px;
}
.form-control, .form-control:focus, .input-group-text {
	border-color: #e1e1e1;
}
.form-control, .btn {
	border-radius: 3px;
}
.signin-form {
	width: 400px;
	margin: 0 auto;
	padding: 30px 0;
}
.signin-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signin-form h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signin-form hr {
	margin: 0 -30px 20px;
}
.signin-form .form-group {
	margin-bottom: 20px;
}
.signin-form label {
	font-weight: normal;
	font-size: 15px;
}
.signin-form .form-control {
	min-height: 38px;
	box-shadow: none !important;
}
.signin-form .input-group-addon {
	max-width: 42px;
	text-align: center;
}
.signin-form .btn, .signin-form .btn:active {
	font-size: 16px;
	font-weight: bold;
	background: #19aa8d !important;
	border: none;
	min-width: 140px;
}
.signin-form .btn:hover, .signin-form .btn:focus {
	background: #179b81 !important;
}
.signin-form a {
	color: #fff;
	text-decoration: underline;
}
.signin-form a:hover {
	text-decoration: none;
}
.signin-form form a {
	color: #19aa8d;
	text-decoration: none;
}
.signin-form form a:hover {
	text-decoration: underline;
}
.signin-form .fa {
	font-size: 21px;
}
.signin-form .fa-paper-plane {
	font-size: 18px;
}
.signin-form .fa-check {
	color: #fff;
	left: 17px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}
</style>

<div class="signin-form">
    <form method="POST" action="{% url 'SimpleTodo:user_login' %}">
        {% csrf_token %}
		<h2>Login</h2>
		<p>Please enter your credentials !</p>
		<hr>
        <div class="alerts">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error" %}
                      <div class="alert alert-danger" role="alert">
                          {{ message }}
                      </div>
                    {% else %}
                      <div class="alert alert-success" role="alert">
                          {{ message }}
                      </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<span class="fa fa-user"></span>
					</span>
				</div>
				<input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Username">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
					</span>
				</div>
				<input type="password" class="form-control" id="password" name="password" placeholder="Password">
			</div>
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
        </div>
    </form>
	<div class="text-center">Don't have an account? <a href="{% url 'SimpleTodo:user_register' %}">Signup here</a></div>
</div>

{% endblock content %}